 /*font-family: "Inter", Arial, sans-serif;
 font-family: "Noto Serif", 'Times New Roman', serif;*/

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);


}

.header {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;


}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 80px 0 30px;
}

.nav__logo{
   width: 105px;
   height: 39px;

}

.nav__links{
  list-style: none;
  display: flex;
  align-items: flex-start;
  column-gap: 20px;
  margin: 0;

}


.nav__link {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: black;
}

.header__title {
  z-index: 1;
  max-width: 729px;
  margin: 183px 0 0 80px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;


}

.header__span-accent {
  font-family: "Noto Serif", 'Times New Roman', serif;
  font-style: italic;
  font-weight: normal;
  font-size:60px;
  line-height: 72px;
  color: #2F80ED;
}

.header__span-block{
  display: block;
}

.header__description {
  max-width: 683px;
  margin: 28px 0 0 80px;
  font-family: "Noto Serif", 'Times New Roman', serif;
  font-size: 20px;
  line-height: 30px;

}

.header__image {
  z-index: 0;
  max-width: 646px;
  max-height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
  margin:0;
  padding: 0;
}

.header__footer {
  margin: auto 80px 40px;
  width: 90%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;;
  box-sizing: border-box;

}

.header__paragraph,
.header__paragraph-address {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.recipes {
  background-color:#0A2750;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.recipes__title {
  max-width: 580px;
  padding: 100px 0 24px 80px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 0 0 80px 80px;
  font-family: "Noto Serif", 'Times New Roman', serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  padding-bottom: 215px;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipes__iframe {
  border: none;
}

.recipes__video-caption {
  padding: 24px 0 0;
  display: flex;
  justify-content: space-between;

}

.recipes__video-caption-text {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}